.admin {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100vh;
}
form {
    display: grid;
    grid-gap: 10px;
    padding: 2rem;
}
.item {
    display: grid;
}
.label {
    font-size: 12px;
}
.title {
    font-size: 20px;
}
button {
    font-size: 16px;
    color: #fff;
    padding: 10px 0;
    border: none;
    background: #00AE71;
    display: grid;
    align-items: center;
    margin-top: 12px;
    justify-content: center;
    color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.1s;
    cursor: pointer;
}
button:hover {
    transition: 0.1;
    box-shadow: none;
}
button:active {
    background: rgba(3, 146, 96, 0.781);
}