<div class="login">
    <div *ngIf="login == true">
        <form>
            <div class="title">Войти</div>
            <div class="item">
                <div class="label">E-mail</div>
                <input type="text" name="username" [(ngModel)]="model.username">
            </div>
            <div class="item">
                <div class="label">Пароль</div>
                <input type="password" name="password" [(ngModel)]="model.password">
            </div>
            <button (click)="onLogin()">Войти</button>
            <div class="change" (click)="login = false">Зарегистрироваться</div>
        </form>
    </div>

    <div *ngIf="login == false">
        <form>
            <div class="title">Регистрация</div>
            <div class="item">
                <div class="label">E-mail</div>
                <input type="text" name="username" [(ngModel)]="model.username">
            </div>
            <div class="item">
                <div class="label">Пароль</div>
                <input type="password" name="password" [(ngModel)]="model.password">
            </div>
            <div class="item">
                <div class="label">Подтвердить пароль</div>
                <input type="password" name="password2" [(ngModel)]="model.password2">
            </div>
            <button (click)="onRegister()">Создать</button>
            <div class="change" (click)="login = true">Войти</div>
        </form>
    </div>
</div>