<div class="header">
    <div class="header_img"><img src="{{ flower.image }}" alt=""></div>
    <div class="header_text">
        <div class="header_text__title">{{ flower.name }}</div>
        <div class="header_text__price">{{ flower.price }} ₸    </div>
        <div class="header_text__description">{{ flower.description }}</div>
    </div>
    <div class="header_offer">
        <form>
            <div class="item">
                Имя
                <input type="text" name="name" [(ngModel)]="userData.name">
            </div>
            <div class="item">
                Номер телефона
                <input type="text" name="phone" [(ngModel)]="userData.phone">
            </div>
            <button (click)="onOrder()">Заказать цветы</button>
        </form>
    </div>
</div>
<div class="content">
    <div class="content_item">
        <div class="title">Освещение</div>
        {{ flower.light }}
    </div>
    <div class="content_item">
        <div class="title">Температура</div>
        {{ flower.temp }}
    </div>
    <div class="content_item">
        <div class="title">Влажность</div>
        {{ flower.humidity }}
    </div>
    <div class="content_item">
        <div class="title">Полив</div>
        {{ flower.watering }}
    </div>
    <div class="content_item">
        <div class="title">Подкормка</div>
        {{ flower.fertilizer }}
    </div>
    <div class="content_item">
        <div class="title">Пересадка</div>
        {{ flower.transplantatio }}
    </div>
</div>


<div class="comment_title">Оставить комментарий</div>
<div class="comments_write">
    <div class="comments_write__item">
        <div class="commnets_write__item___label">Как Вас зовут?</div>
        <input type="text" name='name' [(ngModel)]="commentData.name">
    </div>
    <div class="comments_write__item">
        <div class="commnets_write__item___label">Ваш комментарий</div>
        <textarea id="" cols="30" rows="10" name='text' [(ngModel)]="commentData.text"></textarea>
    </div>
    <div class="comments_write__button"><button (click)="onComment()">Оставить комментарий</button></div>
</div>
<hr/>
<div class="comment_title">Что пишут другие пользователи?</div>
<div class="comments_read">
    <div *ngFor="let c of comments">
        <div class="commnet_item">
            <h4>{{c.name}}</h4>
            <p>{{c.text}}</p>
        </div>
    </div>
</div>